$pale-cyan: #b2fef7;
$cyan: #00bfbf;
$dark-gray: #444;
$light-gray: #cdcbcb;
$white: #fff;
$black: #000;
$gray: #ddd;
$primary: #00bfbf;
$secondary: #b2fef7;
$correct: #31e054;
$correct-bg: #d4edda;
$alert: #d2e031;
$incorrect: #e03a31;
$incorrect-bg: #f8d7da;