#root {
  width:95%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

* {
  white-space: pre-wrap;
  text-align: left;
}
.correct {
  background-color: #d4edda;
}
.incorrect {
  background-color: #f8d7da;
}


.ql-editor,.hljs {
  width: 100%;
  min-height: 200px;
  overflow-y: scroll;
  overflow-x: scroll;
}
.hljs.sm{
  min-height: initial;
}
.hljs.editor {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: #000000;
}

.attempt-list {
  /* horizontal carrusel */
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 1em;
}
.text-show-hide {
  width: 100%;
}

.text-show-hide-title {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  
}
.text-show-hide-title svg {
  margin: auto 1em;
}
.text-show-hide-title article {
  width: 50%;
}
button.selected {
  background-color: #61dafb;
  color: #000;
}


.exercises {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
  overflow-x: scroll;
  
}

.subjects {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2em;
  width: 100%;
}

.text-show-hide-content {
  margin: 1em auto;
  padding: 5px;
  transition: box-shadow 300ms;
}
.user-info {
  margin:0.5em;
}

.health-bar{
  min-width: 150px;
}

.navbar {
  /* on top */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: #fff;
  box-shadow: 0 0 1em #ccc;
  transition: box-shadow 300ms;
}
.navbar-collapse {
  display: flex;
  flex-direction: column;
  gap: 1em;

}
.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.icon.correct {
  color: #28a745;
  font-size: 1.5rem;
  background: none;
}
.icon.incorrect {
  color: #dc3545;
  font-size: 1.5rem;
  background: none;
}
.result-section{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  
  box-shadow: 0 0 1em #ccc;
  transition: box-shadow 300ms;
}

/*
media query for phones to make exercise-card min width: 50%
*/

@media (max-width: 780px) {
  .exercise-card {
    min-width: 50%;
  }
}

