@use "variables" as v;
body{
  background-color: #fff;
  color:#000;
}
#root {
  width:100%;
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
  
}

a {
  font-weight: 500;
  text-decoration: none;
  color: v.$dark-gray ;
  &:hover{
    color: v.$primary ;
  }
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    border-color: v.$primary;
    color: v.$primary;
    background-color: v.$white;
    transition: background-color 0.25s;
  }
  &.icon {
    background:none;
  }
  &.incorrect:hover{
    border: 1px solid v.$incorrect;
    background-color: v.$incorrect-bg;
  }
  &.correct:hover{
    border: 1px solid v.$correct;
    background-color: v.$correct-bg;
  }

}

.incorrect {
  background-color: v.$incorrect-bg;
}
.correct {
  background-color: v.$correct-bg;
}


.card {
  padding: 2em;
}

.correct {
  background-color: v.$correct-bg;
}
.incorrect {
  background-color: v.$incorrect-bg;
}


.ql-editor,.hljs {
  width: 100%;
  min-height: 200px;
  overflow-y: scroll;
  overflow-x: scroll;
}
.hljs.sm{
  min-height: initial;
}
.hljs.editor {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: #000000;
}

.attempt-list {
  /* horizontal carrusel */
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 1em;
}
.text-show-hide {
  width: 100%;
}

.text-show-hide-title {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  
}
.text-show-hide-title svg {
  margin: auto 1em;
}
.text-show-hide-title article {
  width: 50%;
}
button.selected {
  background-color: v.$primary;
  color: v.$white;
}



.text-show-hide-content {
  margin: 1em auto;
  padding: 5px;
  transition: box-shadow 300ms;
}
.user-info {
  margin:0.5em;
}

.health-bar{
  min-width: 150px;
}

.navbar {
  /* on top */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: #fff;
  box-shadow: 0 0 1em #ccc;
  transition: box-shadow 300ms;
}
.navbar-collapse {
  display: flex;
  flex-direction: column;
  gap: 1em;

}
.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.navbar-icon {
  width: 4em;
  margin:0;
}
.navbar-brand {
  display: flex;
  & >p {
    font-size: large;
    font-weight: bold;
  }
}
.icon.correct {
  color: #28a745;
  font-size: 1.5rem;
  background: none;
}
.icon.incorrect {
  color: #dc3545;
  font-size: 1.5rem;
  background: none;
}
.result-section{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  
  box-shadow: 0 0 1em #ccc;
  transition: box-shadow 300ms;
}

.outlet-container {
  padding: 6em 0;
}


form.exercise fieldset {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: #fff;
  box-shadow: 0 0 1em #ccc;
  transition: box-shadow 300ms;
  & > * {
    box-sizing: border-box;
    margin: 0;
  }
  /*
  when an input is a checkbox , the label and the input must be in the same line
  */
  label {
    display: flex;
    align-items: center;
    width: 50%;

  }
  input:not([type="checkbox"]) {
    width: 100%;
  }
  select {
    width: 50%;

  }

  
}

.list li {
  display: flex;
  ;
}

.form-new {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  box-shadow: 0 0 1em #ccc;
  transition: box-shadow 300ms;
  & > * {
    box-sizing: border-box;
    margin: 0;
  }
  /*
  when an input is a checkbox , the label and the input must be in the same line
  */
  label {
    display: flex;
    align-items: center;
    width: 50%;

  }
  input:not([type="checkbox"]) {
    width: 100%;
  }
  select {
    width: 50%;

  }
}

.test {
  display: flex;
  flex-wrap: wrap;

  & > * {
    width:50%;
    box-sizing: border-box;
    min-height: 50vh;
    padding: 0.5em;
    border: 1px solid #ccc;
    overflow:auto;
  }
  & .test-input {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position:relative;
    & .hljs.editor {
      position: relative;
      height: 90%;
    }
  }
}

.run-test-form {
  width: 100%;
  & > * {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .test > * {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: black;
      color: white;
  }
  a {
    color: #b2fef7;
    &:hover{
      color: #00bfbf;
    }
  }
  .subject-card {
    background-color: #444;
  }
  .result-section {
    color: #000;
  }
  .navbar {
    background-color: #444;
    color: #000;
  }
}