// vars.scss

@use "../../variables" as v;



.login {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    h2 {
        margin-bottom: 2rem;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        border-radius: .5rem;
        max-width: 80%;
        min-width: 50%;
        box-shadow: 0 0 10px rgba(v.$black, .1);

        label {
            text-transform: uppercase;
            margin-bottom: .5rem;
            font-size: .9rem;
        }

        input {
            margin-bottom: 1.5rem;
            padding: .6rem 1rem;
            border: 1px solid v.$gray;
            border-radius: .3rem;
            outline: none;
            transition: border .3s;

            &:focus {
                border-color: v.$primary;
            }
        }

        button {
            cursor: pointer;
            padding: .7rem 1rem;
            border: none;
            border-radius: .3rem;
            background-color: v.$primary;
            color: v.$white;
            text-transform: uppercase;
            transition: background-color .3s;

            &:not(:last-child) {
                margin-bottom: .8rem;
            }

            &:hover {
                background-color: darken(v.$primary, 10%);
            }
            & a{
                color: v.$white;
                text-decoration: none;
            }
        }
    }
}