@use "../../variables" as v;

.subject-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 0 1em #ccc;
    transition: box-shadow 300ms;

    & h2 {
        width: 100%;
        text-align: center;
        padding: 10px;
        margin: 10px 0;
    }

}

.exercises {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    gap: 1em;
    width: 100%;
    padding: 1em;
    flex-wrap: wrap;

}

.subjects {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

.course-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    transition: box-shadow 300ms;
    ;

}

.exercise {
    width: 90%;

    &>a {
        text-decoration: none;
        width: 100%;
        
    }
}
a:hover {
    color: v.$primary;
    transition: color 300ms;
}
.exercise-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 0 1em #ccc;
    transition: box-shadow 300ms;
    min-width: 20%;
    &:hover {
        box-shadow: 0 0 1em #aaa;
    }
    &>a {
        color: black;
        text-decoration: none;
        width: 100%;

        &:hover {
            color: black;
        }
    }
    // change color for even and odd exercises
    &:nth-child(odd) {
        background-color: v.$light-gray;
    }
    & .health-bar {
        margin-right:5px;
    }
    

}

article.subject-info,
article.user-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    &>* {
        max-width:50%;
    }
    & > p, & > a {
        width: 20%;
    }
}
article.exercise-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    & > *:nth-child(1) {
        width: 40%;
    }
    & > *:nth-child(2) {
        width: 40%;
    }
    & > *:nth-child(3) {
        width: 20%;
        text-align: center;
    }

}
.students {
    width: 100%;
}



/*
media query for phones to make exercise-card min width: 50%
*/

@media (max-width: 780px) {
    .exercise-card {
        min-width: 90%;
    }
}

@media (prefers-color-scheme: dark) {
    .exercise-card {
        border: 1px solid #fff;
        box-shadow: 0 0 1em #fff;
    }
    .exercise-card:nth-child(odd) {
        background-color: black;
    }
}